
.waiting{
    color:grey!important;
}
.running{
    color:#6cf!important;
}

.compiling{
    color:#00b5ad!important;
}
.accepted{
    color: forestgreen!important;
}
.wrong_answer{
    color:red!important;
}
.time_limit_exceeded,.memory_limit_exceeded,.output_limit_exceeded{
    color:sandybrown!important;
}
.runtime_error{
    color:darkorchid!important;
}
.compile_error{
    color: rgb(0,68,136)!important;
}
 @keyframes spinner-icon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner.icon:before {
  animation: spinner-icon-rotate 3s linear infinite;
  display: block;
}